.body {
  max-width: 1200px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
@media (min-width: 768px) {
}
@media (min-width: 1440px) {
}
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #9b9b9b;
}
::-webkit-scrollbar-track {
  background: #f6f6f6;
}
