.modal__close {
  width: fit-content;
  line-height: 0.5;
  font-size: 40px;
  font-weight: 700;
  cursor: pointer;
  user-select: none;
  opacity: 0.5;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.1s cubic-bezier(0.77, 0, 0.175, 1);
}

.modal__close:hover {
  opacity: 1;
}
