.row {
  height: 60px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  border: 1px solid #343a40;
  border-radius: 5px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  transition: all 0.1s cubic-bezier(0.77, 0, 0.175, 1);
}

.row:has(.row__state_isFinished[title='1']) {
  background-color: rgb(115, 185, 147);
}
.row:has(.row__state_isWrong[title='1']) {
  background-color: darksalmon;
}
.row:has(.row__state_isAccepted[title='1']) {
  background-color: darkgrey;
  text-decoration: line-through;
}
.row:has(.row__state_isActive[title='1']),
.row:has(.row__state_isActive[title='x']) {
  background-color: moccasin;
}

.row:hover {
  background-color: rgb(205, 205, 240) !important;
  box-shadow: 8px 8px 16px 0px rgba(34, 60, 80, 0.2);
}
