.row {
  padding: 10px;
  display: flex;
  flex-direction: row;
  border: 1px solid #111;
  border-radius: 5px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  transition: all 0.1s cubic-bezier(0.77, 0, 0.175, 1);
  --debug-dispaly: none;
}

.row:hover {
  background-color: rgb(205, 205, 240);
  box-shadow: 8px 8px 16px 0px rgba(34, 60, 80, 0.2);
}
