.comments {
  position: relative;
  display: flex;
  overflow: auto;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: calc(var(--leader-horizontal-offset) * 2);
  padding-right: 10px;

  --line-height: 1em;
  --leader-thickness: 2px;
  --leader-color: #aaa;
  --leader-horizontal-offset: 1em;
  --leader-vertical-offset: calc(var(--line-height) / 2 + var(--open-offset));
  --leader-spacing: 2em;
  --open-offset: 5px;

  --marker-size: 12px;
  --marker-radius: 3px;
  --marker-color: #343a40;
}
