.comments__item {
  padding-bottom: 3px;
  line-height: var(--line-height);
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: auto;
  list-style: none;
  user-select: none;
  transition: all 0.2s cubic-bezier(0.77, 0, 0.175, 1);
}

.comments__item:hover {
  background-color: rgb(240, 240, 240);
}

.comments__item:focus {
  border: 1px solid #aaa;
  background-color: gainsboro;
}

.comments__item:not(:last-child)::before {
  position: absolute;
  top: var(--marker-top);
  left: var(--marker-left);
  z-index: 1;
  width: var(--marker-size);
  height: var(--marker-size);

  content: '+';
  color: #fff;
  text-align: center;
  font-weight: 600;
  line-height: calc(
    var(--leader-vertical-offset) * 1.2 - var(--leader-thickness) / 2
  );

  background-color: var(--marker-color);
  border-radius: var(--marker-radius);
  cursor: pointer;
}

.comments__details[open] > .comments__item:not(:last-child)::before {
  content: '-';
  line-height: calc(
    var(--leader-vertical-offset) * 0.9 - var(--leader-thickness) / 2
  );
}
