.comments__details {
  margin-left: var(--leader-spacing);
  list-style: none;
  position: relative;
}

.comments__details::before,
.comments__details::after {
  content: '';
  position: absolute;
  left: calc(0em - var(--leader-offset));
  border-left: var(--leader-thickness) solid var(--leader-color);
}

.comments__details::before {
  top: 0;
  width: calc(var(--leader-offset) * 0.8);
  height: var(--leader-vertical-offset);
  border-bottom: var(--leader-thickness) solid var(--leader-color);
}

.comments__details:not(:last-child)::after {
  bottom: 0;
  height: 100%;
}

.comments > .comments__details {
  margin: 0;
}

.comments > .comments__details::before {
  display: none;
}
