.time__summary {
  list-style: none;
  margin: calc(0px - var(--offset)) calc(0px - var(--offset)) 0;
  padding: var(--offset);
  font-weight: 600;
  cursor: pointer;
  user-select: none;
}

.time[open] .time__summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: var(--offset);
}
