.time {
  --offset: 10px;

  width: 100%;
  height: fit-content;
  padding: var(--offset) var(--offset) 0;

  text-align: center;
  border: 1px solid #aaa;
  border-radius: 4px;
  background-color: #fff;
  z-index: 15;
}

.time[open] {
  padding-bottom: var(--offset);
}
