.context {
  display: none;
  position: absolute;
  z-index: 25;
  width: fit-content;
  height: fit-content;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 5px;
  font-size: 14px;
  transition: opacity 0.1s cubic-bezier(0.77, 0, 0.175, 1);
}
