.form {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}

.form[isLoading='1'] {
  opacity: 0;
  visibility: hidden;
}
